<!DOCTYPE html>
<html>
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>

<h2>Hactiv Media</h2>
<nav>
    <a href="/"><button>Home</button></a>
    <a href="/upload"><button>Upload</button></a>
    <a href=""><button>PROFIL</button></a>
    <a href="/login"><button>Logout</button></a>

</nav>

</body>
</html>

