<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload</title>
    <h2>Hactiv Media</h2>
</head>
<body>
    <h2>Upload</h2>
<nav>
    <a href="/"><button>Home</button></a>
    <a href="/upload"><button>Upload</button></a>  
    
</nav>
    <h2>Create your moment</h2>

    <form action="/upload" method="post">
        <label for="">Caption</label><br>
        <input type="text" name="caption"><br><br>

        <label for="">Image Url</label><br>
        <input type="text" name="image"><br><br>

        
        <button>Submit</button>
    </form>
</body>
</html>